/***************************/
/*基础header颜色*/
.bc-head {
    background-color: #f5f5f5;
}
/*基础的背景颜色*/
.ai-bc-primary{
    background-color: #ffffff;
}
.ai-bc-default{
    background-color: #EEEEEE;
}
.ai-bc-un{
    background-color: #BDBDBD;
}
.ai-bc-assist{
   background-color:#5677fc; 
}
/*****************************************/
/*基础字体首选颜色*/
.ai-ftc-primary {
    color: black;
}
/*基础字体辅助颜色*/
.ai-ftc-default {
    color:#ffffff !important;
}
.ai-bor-default {
    border-color: rgba(225,225,225,0.54);
}
.ai-ftc-assist{
   color:#5677fc; 
}
.ai-ftc-ico{
   color:#BDBDBD; 
}
/*****************************************/
/*基础边框颜色*/
.ai-border-primary {
   border-color: rgba(0,0,0,0.2); 
}
.ai-border-default{
   border-color:#5677fc  
}

/*****************************************/
/*基础按钮颜色*/
.ai-btn-primaiy {
color: #fff;
background-color: #5677fc;
}
.ai-btn-primaiy.active, .ai-btn-primaiy:active{
    background-color: #4e6cef;
}
/*****************************************/
/*基础按钮默认颜色*/
.ai-btn-default {
background-color: #eeeeee;
}
.ai-btn-default.active, .ai-btn-default:active{
    background-color:#e0e0e0;
}







